body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #ffffff ;
    margin: 0;
    padding: 0;
}


header {
    background-color: #cd5555;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

.main-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;}
    
.response_card_ALL{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;

}

.response_card {
    border-style: solid;
    border-color: rgb(96, 165, 5);
    box-shadow: 0 0 15px rgb(187, 102, 4);
    border-radius: 8%;
    font-size: large;
    margin:20px;
    padding:15px;
    max-width: 250px;

}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #02bd66;
    color: #000000;
    margin-top: 60pt;
}
